.diceWrapper {
    display: flex;
    height: 60%;
}

.dice1 {
    flex: 1;
}

.dice2 {
    flex: 1;
}

.rollClick {
    flex: 1;
}

.diceRollButton {
    background-color: rgba(128, 73, 0, 0.694);
    color: rgb(0, 0, 0);
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    height: 100%;
    text-shadow: -1px -1px rgb(69 39 39), 1px 1px rgba(255, 255, 255, 0.285);
    color: rgba(0, 0, 0, 0.823);
    border-radius: 7px;
    box-shadow: 0 0.2em rgb(0 0 0 / 40%);
    margin-top: 7%;
}

.diceRollButton:disabled {
    background-color: gray;
}

.diceRolling {
    height: fit-content;
}
.turnLabel{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}