.prison{
    height: 100%;
    position: relative;
    float: left;

}

.prisonPart {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}
.prisonCheckersContainer{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display:inline-block;
}
